.footer {
    background-color: rgb(14, 11, 11);
    color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.socialmedia {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.iconis {
    padding: 0px 90px;
    padding-bottom: 10px;
}

.footer_cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* justify-content: space-between; */
}

.footer_content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    text-align: center;
}

.footer_content span {
    padding: 10px 60px;
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.footer_content button {
    background-color: rgb(14, 11, 11);
    color: rgb(128, 128, 128);
    border-color: rgb(128, 128, 128);
    margin-top: 20px;
    padding: 10px 5px;
    border-radius: 5px;
}

.footer_Sentence {
    color: rgb(128, 128, 128);
    font-size: 14px;
    padding-left: 520px;
    padding-bottom: 10px;
}


/* .first:last-child {
    margin-top: 20px;
} */